$font-family-main: 'Open Sans', sans-serif;
$font-family-decoration: 'Shrikhand', cursive;
$font-family-signature: 'Pacifico', cursive;
$font-size-main: 16px;

$color-main: #1a3558;
$color-light: #fff;
$color-black: #111;
$color-dark: #102036;
$color-grey: #919191;
$color-light-grey: #e6e6e6;
$color-dark-blue: #375885;
$color-blue: #5da0ff;
$color-light-blue: #d1e6ff;

$color-header-bg-light: linear-gradient(#7bc4ff, $color-light);
$color-header-bg-dark: linear-gradient(#7bc4ff, $color-dark);

$color-footer-bg-light: linear-gradient($color-light, #1d331d);
$color-footer-bg-dark: linear-gradient($color-dark, #1d331d);

$transition-duration-main: 0.1s;

$border-radius-main: 12px;

$shadow-light: 1px 1px 4px $color-main;
$shadow-dark: 1px 1px 4px $color-black;

$transition-duration-main: 0.1s;

:root {
  // color -------------------------------------------------------
  --color-light: #{$color-main};
  --color-dark: #{$color-light-grey};
  --color-default: var(--color-light);

  // Component background ----------------------------------------
  --color-component-bg-light: #{$color-light};
  --color-component-bg-dark: #{$color-dark};
  --color-component-bg-default: var(--color-component-bg-light);

  // Header background -------------------------------------------
  --color-header-bg-light: #{$color-header-bg-light};
  --color-header-bg-dark: #{$color-header-bg-dark};
  --color-header-bg-default: var(--color-header-bg-light);

  // Content background ------------------------------------------
  --color-content-bg-light: #{$color-light-blue};
  --color-content-bg-dark: #{$color-main};
  --color-content-bg-default: var(--color-content-bg-light);

  // Box-shadow ---------------------------------------------------
  --shadow-light: #{$shadow-light};
  --shadow-dark: #{$shadow-dark};
  --shadow-default: var(--shadow-light);

  // Other days filter's button background -----------------------
  --color-btn-bg-light: #{$color-light-blue};
  --color-btn-bg-dark: #{$color-dark};
  --color-btn-bg-default: var(--color-btn-bg-light);

  // Other days filter's button-active background ----------------
  --color-btn-bg-active-light: #{$color-blue};
  --color-btn-bg-active-dark: #{$color-blue};
  --color-btn-bg-active-default: var(--color-btn-bg-active-light);

  // Other days filter's button-active text ----------------------
  --color-btn-active-light: #{$color-light};
  --color-btn-active-dark: #{$color-light};
  --color-btn-active-default: var(--color-btn-active-light);

  // Day card background -----------------------------------------
  --color-day-bg-light: #{$color-light};
  --color-day-bg-dark: #{$color-dark};
  --color-day-bg-default: var(--color-card-bg-light);
  
  // Footer background -------------------------------------------
  --color-footer-bg-light: #{$color-footer-bg-light};
  --color-footer-bg-dark: #{$color-footer-bg-dark};
  --color-footer-bg-default: var(--color-footer-bg-light);

  // Footer link hover color -------------------------------------
  --footer-link-hover-light: #{$color-black};
  --footer-link-hover-dark: #{$color-blue};
  --footer-link-hover-default: var(--footer-link-hover-light);
}
