@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Shrikhand&display=swap';
@import './vars';
@import './mixins';

* {
  box-sizing: border-box;
}

html {
  font-family: $font-family-main;
  font-size: $font-size-main;
  line-height: 1;
  font-weight: 400;
  color: var(--color-default);
}

body {
  margin: 0;
  background: var(--color-component-bg-default);
}

img {
  display: block;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  padding: 0 15px;
}
