@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Shrikhand&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Pacifico&display=swap';
@import './vars';
@import './mixins';

* {
  box-sizing: border-box;
}

html {
  font-family: $font-family-main;
  font-size: $font-size-main;
  line-height: 1;
  font-weight: 400;
  color: var(--color-default);
}

body {
  margin: 0;
  background: var(--color-component-bg-default);
}

.blockPageScroll {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 320px;
  min-height: 100vh;

  &_scrollBlock {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
