@import '../../styles/vars';
@import '../../styles/mixins';

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  align-items: end;
  gap: 50px;

  padding: 20px 0;
  height: 100%;

  @include tablet {
    padding-top: 70px;
  }

  &__topBlock {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 300px;
    gap: 20px;

    @include tablet-large {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto;
      
      font-size: 18px;
      @include bg-image-cloud('../../img/cloud.png');
      @include component-bg;
    }

    @include tablet {
      gap: 0;
    }

    @include mobile {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }
  }

  &__bottomBlock {
    align-self: start;
  }

}
