@import '../../styles/vars';
@import '../../styles/mixins';

.header {
  padding: 10px 0 25px;
  background: var(--color-header-bg-default);

  &__inner {
    position: relative;

    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    align-items: center;
    grid-template-areas:
      "logo title . theme select"
    ;

    @include tablet {
      grid-template-columns: auto  1fr auto;
      grid-template-areas:
        "logo title theme"
      ;
    }
  }

  &__logo {
    grid-area: logo;

    padding-bottom: 15px;
  }

  &__title {
    grid-area: title;

    margin: 0;
    padding-left: 10px;

    font-family: $font-family-decoration;
    font-size: 40px;
    font-weight: 400;
    color: var(--color-main-title-default);

    @include tablet {
      padding: 0;

      text-align: center;
    }
    
    @include mobile {
      font-size: 26px;
    }
  }

  &__themeToggler {
    grid-area: theme;

    display: flex;
    
    cursor: pointer;

    &:hover svg {
      animation: animation-theme-btn 5s infinite linear;
      
      @include tablet-large {
        animation: none;
      }
    }

  }
}

@keyframes animation-theme-btn {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header__select {
  grid-area: select;

  @include tablet {
    position: absolute;
    right: 0;
    bottom: -70px;
  }
}
