@import '../../styles/vars';
@import '../../styles/mixins';

.footer {
  padding: 35px 0 20px;

  text-align: center;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: $color-light;

  background: var(--color-footer-bg-default);

  @include mobile {
    padding-bottom: 15px;
  } 

  &__title {
    margin-bottom: 5px;
    text-shadow: 0 0 5px $color-main;
  }

  &__link {
    display: inline-block;
    padding: 1px 0 0 5px;

    font-family: $font-family-signature;
    color: $color-light;
    text-decoration: none;
    text-shadow: 0 0 5px $color-main;

    transition: transform $transition-duration-main linear;

    &:hover {
      transform: scale(1.2) translateX(3px);
    }
  }
}
