@import '../../../../styles/vars';
@import '../../../../styles/mixins';

.currentDay {
  padding: 20px;

  @include component-bg;

  @include tablet-large {
    @include component-no-bg;
  }

  @include mobile {
    padding: 10px 0 0 0;
  }

  &__info {
    @include current-day-two-col;

    @include tablet-large {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto auto;
      grid-template-areas:
        "weatherIcon"
        "temp"
        "date"
      ;
      justify-items: center;
    }

    @include mobile {
      @include current-day-two-col;

      grid-template-columns: 1fr 1fr;
    }
  }

  &__moreInfo {
    margin-top: 20px;
  }

  &__temp {
    grid-area: temp;

    font-size: 96px;
    font-weight: 600;
    color: $color-blue;

    @include tablet-large {
      margin-bottom: 10px;

      font-size: 54px;
    }

    @include mobile {
      justify-self: end;

      margin: 0 10px 0 0;

      font-size: 84px;
    }
  }

  &__wetherIcon {
    grid-area: weatherIcon;
    justify-self: center;

    width: 120px;
    height: 120px;

    @include tablet-large {
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
    }

    @include mobile {
      justify-self: start;

      width: 100px;
      height: 100px;
      margin-bottom: 0;
    }
  }

  &__dayName {
    grid-area: date;

    font-size: 40px;

    @include tablet-large {
      font-size: 28px;
    }

    @include mobile {
      margin-top: 10px;
      
      font-size: 36px;
    }
  }

  &__time,
  &__city {
    margin-bottom: 10px;

    font-size: 18px;
    color: $color-grey;

    @include mobile {
      text-align: center;
    }
  }
}
